/* =================================
  Base Element Styles
==================================== */

* {
	box-sizing: border-box;
}

body {
	font-family: 'Source Sans Pro', sans-serif;
	line-height: 1.5;
	color: #3a3a3a;
}

p {
	font-size: 1em;
	margin-bottom: 1.5em;
}

h2,
h3 {
	margin-top: 0;
}

h2,
ul {
  text-transform: uppercase;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

a {
	text-decoration: none;
}


img {
	max-width: 100%;
}

/* =================================
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

.name {
  margin-top: 0;
  font-size: 1.6em;
}



/* ---- Layout Containers ---- */



/* ---- Page Elements ---- */



/* =================================
  Media Queries
==================================== */
