* {
	box-sizing: border-box;
}

body {
	font-family: 'Source Sans Pro', sans-serif;
	line-height: 1.5;
  background: #f5f5f5;
}

body,
a {
  color: #3a3a3a;
}

main,
.name,
.main-nav a {
  text-align: center;
}

p {
	font-size: 1em;
}

p,
h2 {
	margin-bottom: 1.5em;
}

h2 {
  font-size: 1.2em;
}

h2,
h3,
ul,
footer,
.name {
	margin-top: 0;
}

h3 {
  font-size: 1.3em;
  font-weight: normal;
}

h2,
ul {
  text-transform: uppercase;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

ul,
footer h2,
.name,
.list-skills {
  margin-bottom: 0;
}

a {
	text-decoration: none;
  font-weight: 700;
}

a:visited,
a:hover {
  color: #2472aa;
}

img {
	max-width: 100%;
}

.name {
  padding-top: 1em;
  font-size: 1.5em;
}

.name,
footer,
img,
.skills p {
  padding-bottom: 1em;
}

.name,
.main-nav a {
  display: block;
}

.main-nav a {
  margin-bottom: 5px;
  padding-top: .9em;
  padding-bottom: .9em;
}

.main-nav a,
.portfolio,
.contact {
  background: #fff;
}

/* ---- Layout Containers ---- */

p,
.main-header,
.skills,
.contact, {
  padding-bottom: 2em;
}

p,
footer,
.main-header,
.container {
  width: 90%;
  margin: 0 auto;
}

.portfolio,
.skills,
.contact {
  padding-top: 2em;
}

.skills {
  background-color: #eceff1;
}

footer {
  padding-top: 1.5em;
  border-top: 2px solid #eceff1;
}
/* ---- Page Elements ---- */

.main-nav a:active {
  background-color: #eceff1;
}

.img-profile {
  width: 75%;
}

.list-skills li {
  display: inline-block;
  color: white;
  background: #2472aa;
  padding: 5px 5px;
  margin-top: 5px;
}

.list-skills li:nth-child(odd) {
  background: #626f7e;
}

.tel,
.email {
  word-spacing: 10px;
  padding-bottom: 5px;
}

footer h2 {
  text-align: left;
  text-transform: none;
  font-size: .8em;
  float: left;
  width: 60%;
}

.footer-nav {
  display: none;
}

.back {
  font-size: .8em;
  text-align: right;
  display: inline-block;
  float: right;
  width: 40%;
}

.back a {
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

/* =================================
  Media Queries
==================================== */

/* ---- Float Clearfix ---- */

.clearfix::after {
  content: " ";
  display: table;
  clear: both;
}
