/* =================================
  Base Element Styles
==================================== */

* {
	box-sizing: border-box;
}

body {
	font-family: 'Source Sans Pro', sans-serif;
	line-height: 1.5;
	color: #3a3a3a;
}

/* css to test and implement =====
p {
	font-size: .95em;
	margin-bottom: 1.8em;
}

h2,
h3,
a {
	color: #093a58;
}

================================== */

h2,
h3 {
	margin-top: 0;
}

a {
	text-decoration: none;
}


img {
	max-width: 100%;
}

/* =================================
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */



/* ---- Layout Containers ---- */



/* ---- Page Elements ---- */



/* =================================
  Media Queries
==================================== */
